<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mt-2 d-flex justify-content-center">Comunidad</h4>
                    <small class="text-muted pt-4 db">Título</small>
                    <h6>Comunidad del anillo</h6>
                    <small class="text-muted pt-4 db">Dirección</small>
                    <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                    <small class="text-muted pt-4 db">Estado</small>
                    <h6>Activa</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                                <font class="font-weight-medium">254</font>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                        <div class="mb-3">
                            <label class="col-md-12">Título:</label>
                            <div class="col-md-12 ms-3"> Acta de la reunión del 15/10/2021</div>
                        </div>
                        <div class="mb-3">
                            <label for="example-email" class="col-md-12">Fecha</label>
                            <div class="col-md-12 ms-3">15/10/2021</div>
                        </div>
                   
                        <div class="mb-3">
                            <label class="col-sm-12">Tipo</label>
                            <div class="col-md-12 ms-3">Acta</div>
                        </div>
                        <div class="mb-3">
                            <div class="col-sm-12 d-flex justify-content-end">
                                <button class="btn btn-success" [routerLink]="['/','DocumentacionComunidad','Editar','1']">Editar</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->