<div class="col-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title mt-4 d-flex justify-content-start">Usuarios:</h4>

            <div class="col-sm12">
                <table class="table table-striped table-bordered" id="editable-datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Teléfono</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td>Fernando Perez</td>
                            <td>fernando@gmail.com</td>
                            <td>Vecino</td>
                            <td>956258745</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" [routerLink]="['/','Puertas','EditarUsaurio','1']"
                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                    <button type="button" [routerLink]="['/','Puertas','Listado','1']"
                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr id="1">
                            <td>Fernando Perez</td>
                            <td>fernando@gmail.com</td>
                            <td>Administrador</td>
                            <td>956258745</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" [routerLink]="['/','Puertas','EditarUsaurio','1']"
                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                    <button type="button" [routerLink]="['/','Puertas','Listado','1']"
                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr id="1">
                            <td>Fernando Perez</td>
                            <td>fernando@gmail.com</td>
                            <td>Presidente</td>
                            <td>956258745</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" [routerLink]="['/','Puertas','EditarUsaurio','1']"
                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                    <button type="button" [routerLink]="['/','Puertas','Listado','1']"
                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Teléfono</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <div class="mb-3">
                <div class="col-sm-12 d-flex justify-content-end">
                    <button class="btn btn-success"
                        [routerLink]="['/','DocumentacionComunidad','Editar','1']">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>