<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header bg-info">
                <h4 class="card-title text-white">Editar la Documentación </h4>
            </div>
            <form action="#" class="form-horizontal" [formGroup]="this.forma" (ngSubmit)="guardar()"> 
                <div class="form-body">
                    <div class="card-body border-bottom">
                        <h6 class="card-subtitle">Cualquier cambpo que quede en blanco será ignorado a la hora de
                            actualizar.</h6>
                        <h4 class="card-title">Información del registro</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label class="control-label text-end col-md-3">Título</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="titulo" [class.is-invalid]="tituloNoValido"> 
                                        <small class="form-control-feedback" *ngIf="tituloNoValido"> El título es obligatorio </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label class="control-label text-end col-md-3">Fecha</label>
                                    <div class="col-md-9">
                                        <input type="date" class="form-control" formControlName="fecha" [class.is-invalid]="fechaNoValido"> 
                                        <small class="form-control-feedback" *ngIf="fechaNoValido"> La Fecha Es obligatoria </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label class="control-label text-end col-md-3">Tipo</label>
                                    <div class="col-md-9">
                                        <select class="form-control form-select" formControlName="tipo" [class.is-invalid]="tipoNoValido" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="Acta">Acta</option>
                                            <option value="Documentacion">Documentación</option>
                                            <option value="Estatutos">Estatutos</option>
                                        </select>
                                        <small class="form-control-feedback" *ngIf="tipoNoValido"> El tipo es obligatorio </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <div class="text-end">
                            <button type="submit"
                                class="btn btn-info rounded-pill px-4 waves-effect waves-light">Save</button>
                            <button type="button"
                                class="btn btn-dark rounded-pill px-4 waves-effect waves-light">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Row -->