<div class="container-fluid">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">Listado de Comentaros de la incidenci</h4>
                </div>
                <div class="card-body">
                    <div id="editable-datatable_wrapper"
                        class="dataTables_wrapper container-fluid dt-bootstrap4  justify-content-b">
                        <div class="row">
                            <div class="col-sm12">
                                <table class="table table-striped table-bordered" id="editable-datatable">
                                    <thead>
                                        <tr>
                                            <th>Comentario</th>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="1">
                                            <td>Yo creo que es un problema muy importante</td>
                                            <td>10/02/2021</td>
                                            <td>Fernando Perez</td>
                                            <td>
                                                <div class="d-flex justify-content-around">
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Comentario','Editar','1']"
                                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Listado','1']"
                                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="2">
                                            <td>Yo creo que no es tan importante</td>
                                            <td>12/02/2021</td>
                                            <td>Pablo Ruiz</td>
                                            <td>
                                                <div class="d-flex justify-content-around">
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Comentario','Editar','1']"
                                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Listado','1']"
                                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="3">
                                            <td>Deberíamos de solucionarlo</td>
                                            <td>20/02/2021</td>
                                            <td>Oscar de Tomás</td>
                                            <td>
                                                <div class="d-flex justify-content-around">
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Comentario','Editar','1']"
                                                        class="btn btn-lg btn-light-success text-success font-weight-medium "
                                                        id="ts-success"><i class="mdi mdi-grease-pencil"></i></button>
                                                    <button type="button"
                                                        [routerLink]="['/','Incidencias','Listado','1']"
                                                        class="btn btn-lg btn-light-danger text-info font-weight-medium"
                                                        id="ts-info"><i class="mdi mdi-delete"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Comentario</th>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5"></div>
                            <div class="col-sm-12 col-md-7">
                                <!-- <div class="dataTables_paginate paging_simple_numbers" id="editable-datatable_paginate"> -->
                                <div class="dataTables_paginate paging_simple_numbers" id="editable-datatable_paginate">
                                    <ul class="pagination justify-content-end">
                                        <li class="paginate_button page-item previous disabled"
                                            id="editable-datatable_previous"><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="0" tabindex="0"
                                                class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="1" tabindex="0"
                                                class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="2" tabindex="0"
                                                class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="3" tabindex="0"
                                                class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="4" tabindex="0"
                                                class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="5" tabindex="0"
                                                class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#"
                                                aria-controls="editable-datatable" data-dt-idx="6" tabindex="0"
                                                class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="editable-datatable_next"><a
                                                href="#" aria-controls="editable-datatable" data-dt-idx="7" tabindex="0"
                                                class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
</div>